<!DOCTYPE html>
<html>
  <head>
    <title>JobListing7</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <div class="container-fluid">
          <%= render "common/navbar" %>
          <%= render "common/flashes" %>
          <div class="row">
            <div class="col-md-2">
                <div class="nav nav-pills nav-stacked" style="margin-top: 50px;">
                  <li><%= link_to("Job", admin_jobs_path, class: "btn btn-primary") %></li>
                </div>
            </div>

            <div class="col-md-10">
              <%= yield %>
            </div>
          </div>
        </div>

        <%= render "common/footer" %>
  </body>
</html>
